<% if logged_in? %>
  <div class='container'>
    <div class='text-center'>
      <h2>食事について</h2>
    </div>
  </div>
  <div class="card mt-4">
      <div class="card-header">
        <h5>質問事項</h5>
      </div>
      <div class="card-body">
        <% @foods.each do |food| %>
          <div class='container'>
            <li>
              <%=link_to food.contents, food %>
          　   <% if current_user == food.user %>
            　   <%= link_to "Delete", food, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          　   <% end %>
            </li>　　
          </div>
        <% end %>
      </div>
  </div>
  <%= form_with(model: @food, local:true) do |f| %>
    <div class="form-group">
      <%= render 'layouts/error_messages', model: f.object %>
      <h5 class="mt-4"><%= f.label :contents, '質問を追加' %></h5>
      <%= f.hidden_field :category ,  value: "食事" %>
      <%= f.text_area :contents, class: 'form-control' , rows: 5%>
    </div>
    <div class='text-center'>
      <%= f.submit '質問を追加', class: 'btn btn-primary btn' %>   
    </div>
  <% end %>
  <div class='text-center mt-5'>
    <%= link_to 'トップページへ', root_url %>
  </div>
  
<% else %>
  <div class='container'>
    <div class='text-center'>
      <h2>食事について</h2>
    </div>
  </div>
  <div class="card mt-4">
      <div class="card-header text-center">
        質問事項
      </div>
      <div class="card-body text-center">
        <% @foods.each do |food| %>
          <div class='container'>
            <li>
              <%=link_to food.contents, food %>
          　   <% if current_user == food.user %>
            　   <%= link_to "Delete", food, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          　   <% end %>
            </li>　　
          </div>
        <% end %>
      </div>
  </div>
  <div class='text-center mt-4'>
    <%= link_to 'トップページへ', root_url %>
  </div>
  <div class='text-center mt-4 cat5'>
    <%= image_tag '/images/cat5.jpg' %>
  </div>
  
<% end %>
