  <% if logged_in? %> 
    <h3>質問と回答</h3>
    
    <div class="mt-4">
      <%= @micropost.contents %>
    </div>
    <% @comments.each do |comment| %>
      <div class='container'>
        <li>
          <%= comment.content %>
          <% if current_user == comment.user %>
          　<%= link_to "Delete", comment, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        　<% end %>
        </li>　　
      </div>
    <% end %>
        
    <%= form_with(model: @comment, local:true) do |f| %>
      <div class="form-group">
        <%= render 'layouts/error_messages', model: f.object %>
        <h5 class="mt-4"><%= f.label :content, '返答' %></h5>
        <%= f.hidden_field :micropost_id ,  value: @micropost.id %>
        <%= f.text_area :content, class: 'form-control' , rows: 5%>
      </div>
      
      <div class="mt-3">
        <%=  f.submit '返答', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class='text-center mt-4'>
      <%= link_to 'トップページへ', root_url %>
    </div>
    
    
<% else %>
  <p>質問と回答</p>
    
    <div>
      <%= @micropost.contents %>
    </div>
    <% @comments.each do |comment| %>
      <div class='container'>
        <li>
          <%= comment.content %>
        </li>　　
      </div>
    <% end %>
    <div class='text-center mt-4'>
      <%= link_to 'トップページへ', root_url %>
    </div>
<% end %>