<div id="catshow">
  <div class="text-center" id=1>
    <h1>マイ猫</h1></br><h3>~プロフィール~</h3>
  </div>
  
  <div class="row mt-5">
    <aside class="col-sm-3">
      <div>
        <%= image_tag @cat.image_url if @cat.image_url %>
      </div>
    </aside>
    <div class="offset-sm-2 col-sm-7" style="
      padding-top: 40px;
    ">
      <h2>名前 :  <%= @cat.name %></h2>
      </br>
      <h2>誕生日 :  <%= @cat.birthday %></h2>
      </br>
      <h2>猫種 :  <%= @cat.variety %></h2>
    </div>
    <div class="card offset-sm-5 col-sm-6">
      <div class="card-header">
        <h3>かわいいポイント</h3>
      </div>
      <div class="card-body">
        <p><%= @cat.contents %></p>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <div class="link">
      <%= link_to 'トップページへ', root_url %>
      <%= link_to 'みんなの猫一覧へ', yourcats_path %>    
      <% if current_user == @cat.user %>
        <%= link_to '編集ページへ',edit_cat_path %>
      <% end %>
    </div>
    
  </div>
</div>